@{
  Layout = "_Layout";
}

<div class="row">
  <div class="col-md-3">
    <p class="links-buttons">@Html.ActionLink("List of locations", "Index", "Locations")</p>
    <p class="links-buttons">@Html.ActionLink("List of engineers", "Index", "Engineers")</p>
    <p class="links-buttons">@Html.ActionLink("List of machines", "Index", "Machines")</p>
    <p class="links-buttons">@Html.ActionLink("List of incidents", "Index", "Incidents")</p>
  </div>
  <div class="col-md-9">
    <h1>Welcome to the Dr. Sneuss' Factory</h1>
  </div>
</div>