@{
  Layout = "_Layout";
}

<h1>Welcome to the Dr. Sneuss' Factory</h1>
<p>@Html.ActionLink("List of locations", "Index", "Locations")</p>
<p>@Html.ActionLink("List of engineers", "Index", "Engineers")</p>
<p>@Html.ActionLink("List of machines", "Index", "Machines")</p>
<p>@Html.ActionLink("List of incidents", "Index", "Incidents")</p>